.bg-color {
    background-color: var(--icon);
    padding: 3.5rem;
    border-radius: 30px;
    color: var(--text-color);

}
.bg-white {
    background-color:  var(--icon) !important;
}
.bg-padding{
    padding: 2.2rem;
}
.bg-white span{
    color: #f2994a;
}
.bg-color img{
    font-weight: bold;
    border-radius: 30px;
}

.bg-white a{
    color: var(--primary-color) !important;
}
.bg-white a:hover {
    text-decoration: underline;
}
.url{
    font-weight: bold;
    color: var(--primary-color) !important;
}
.url:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .bg-color {
        padding: 2rem;
    }
}

.imgWrapper{
    overflow: hidden;
}
.imgWrapper a{
    margin: 0;
    padding: 0;
    display: block;
}

.img-main-full {
    width: 100% !important;
}

/* Card.module.css */
.funCard {
    text-decoration: none;
    color: #fff;
    width: 100%;
    margin-top: 2rem;
    height: 370px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    border-radius:  20px;
}

.funCardImg {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 220px;
}



.cardTitle {
    transition: 0.3s;
}

.cardText {
    color: inherit;
    font-size: 13px;
    margin: 0;
}

.cardSpan {
    font-weight: bold;
}

/* Hover effects */
.funCard:hover .cardTitle {
    color:var(--text-color);
}

/* Responsive adjustments */
@media (min-width: 768px) and (max-width: 992px) {
    .funCard {
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        overflow: hidden;
    }
}
