:root {
    --baseline: 24px;
    --space-sm: calc(var(--baseline) / 2);
    --space-md: var(--baseline);
    --space-lg: calc(var(--baseline) * 2);
    --space-xl: calc(var(--baseline) * 3);
}

:root {
    --bg-color: #fff;
    --text-color: #000000;
    --primary-color: #5a2de4;
    --primary-white: #f6f6f6;
    --icon: rgb(242, 242, 242);
}

[data-theme='dark'] {
    --bg-color: #191818;
    --text-color: #c4cdd5;
    --icon: #2d2d2d;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
html,body{
    min-height: 100%;
}
.mt-
.mt{
    margin-top: var(--space-lg) !important;
}
body{
    background: var(--bg-color);
    background-repeat: no-repeat;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #fff;
}


.media-none{
    @media only screen and (max-width: 500px) {
        display: none;
    }
}
.additionalImages {
    border-radius: 0 0 30px 30px;
}

.normal-card-left {
    border-radius: 0 30px 30px 0;
}

.normal-card-right {
    border-radius: 30px 0 0 30px;
}

.universal-card-right {
    border-radius: 30px 0 0 0;
}

.universal-card-left {
    border-radius: 0 30px 0 0;
}

.uni_img-right {
    border-radius: 0 0 30px 0;
}

.uni_img-left {
    border-radius: 0 0 0 30px;
}

@media (max-width: 900px) {
    .additionalImages,
    .normal-card-left,
    .normal-card-right,
    .universal-card-right,
    .universal-card-left,
    .uni_img-right,
    .uni_img-left {
        border-radius: 0;
    }
}

svg{
    color:var(--text-color);
}
.text-nl{
    color: var(--text-color);
}