.details h2{
    font-size: 3rem;
    margin-top: 80px;
}
.details h3{
    /* font-size: 3rem;
    font-weight: 400;
    margin-top: 80px; */
}
.html_ {
    margin-top: 40px;
}
.featured{
    margin-bottom: 40px;
}