/* Reset some basic elements */
:root {
    --baseline: 24px;
    --space-sm: calc(var(--baseline) / 2);
    --space-md: var(--baseline);
    --space-lg: calc(var(--baseline) * 2);
    --space-xl: calc(var(--baseline) * 3);
}

:root {
    --bg-color: #f6f6f6;
    --text-color: #000000;
    --primary-color: #5a2de4;
    --primary-white: #f6f6f6;
    --icon: #dbdbdb
}

[data-theme='dark'] {
    --bg-color: #191818;
    --text-color: #f4f5ef;
    --icon: #2d2d2d;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
html,body{
    min-height: 100%;
}
body{
    background: var(--bg-color);
    background-repeat: no-repeat;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #fff;
}
