.details h2{
    /* font-size: 3rem;
    margin-top: 80px; */
}
.details h3{
    /* font-size: 3rem;
    font-weight: 400;
    margin-top: 80px; */
}
.html_ {
    margin-top: 40px;
}
.featured{
    margin-bottom: 40px;
}
.type{
    color: #f2994a;
    font-weight: bold;
}
.ops {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.myImage {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid var(--primary-color);
}

.textWrapper {
    /*display: flex;*/
    align-items: center;
    text-align: left;
    max-width: 600px;
    color: var(--text-color);
}
.back{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.arrow{
    width: 50px!important;
    height: 50px!important;
    color: var(--primary-color);
}
